<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asistencia Vial</title>
    <link rel="stylesheet" href="../materialize-css/dist/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <body>
  	<section class="row">
  		<section class="col s12">
			<section id="contenedorMensaje"></section>
  		</section>
  	</section>
    <script src="../jquery/dist/jquery.min.js"></script>
    <script src="../materialize-css/dist/js/materialize.min.js"></script>
    <script src="../js/general.js"></script>
	<script src="../js/login.js"></script>
	<script src="../firebase/firebase.js"></script>
    <script src="../firebase/messaging.js"></script>
  </body>
</html>
