<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asistencia Vial</title>
    <link rel="stylesheet" href="../materialize-css/dist/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="../css/main.css">
  </head>
  <body>
	  <section class="row">
	  	<section class="col s12">
			<nav>
			    <div class="nav-wrapper">
			      <a href="#!" class="brand-logo"><img class="right" src="../assets/img/logoNaranja.png" id="logoNav" alt=""></a>
			      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
			      <ul class="right hide-on-med-and-down">
			       	<li><a href="../static/views/historial.html">Historial</a></li>
			        <li><a href="../index.html">Cerrar Sesión</a></li>
			      </ul>
			      <ul class="side-nav" id="mobile-demo">
					<li><a href="../static/views/historial.html">Historial</a></li>
  			        <li><a href="../index.html">Cerrar Sesión</a></li>
			      </ul>
			    </div>
			</nav>
	  		<section class="contenidoHistorial">

	  		</section>
	  	</section>
	  </section>

    <header>
      <img src="#" alt="" id="user-pic">
        <p>Hola<span id="user-name"></span></p>
        <p id="correo"></p>
        <div class=""></div>
    </header>

    <script src="../jquery/dist/jquery.min.js"></script>
    <script src="../materialize-css/dist/js/materialize.min.js"></script>
    <!-- <script src="../js/app.js"></script> -->
    <script src="../firebase/firebase.js"></script>
    <script src="../firebase/messaging.js"></script>
    <script src="../js/login.js"></script>

  </body>
</html>
