<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asistencia Vial</title>
    <link rel="stylesheet" href="../materialize-css/dist/css/materialize.min.css">
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <body>

    <div class="container">
      <div class="row">

        <div class="col s10 offset-s1">
          <div class="card">
            <img id="profile-img" class="imagen__session" src="../assets/img/sesion.png" />
            <p id="profile-name" class="titulo__session">Iniciar sesión</p>
            <div class="row">
              <div class="col s12 formulario">
                <div class="input-field">
                  <input placeholder="username or email" id="username" type="text" class="validate">
                  <!--<label for="first_name">user/email</label>-->
                </div>
                <div class="input-field">
                  <input placeholder="password" id="password" type="password" class="validate">
                  <!--<label for="first_name">password</label>-->
                </div>
                <div class="row">
                  <div class="col s4 offset-s1">
                    <button id="botonLogin" class="btn  red" type="submit" name="action">
                      Ingresar
                    </button>
                  </div>
                  <div class="col s6">
                    <button id="botonSing" class="btn  red" type="submit" name="action">
                      Registro
                    </button>
                  </div>
                </div>
                <!--
                <div class="row">
                  <div class="col s6 offset-s3">
                    <button id="botonLogout" class="btn  red hide" type="submit" name="action">
                      Logout
                    </button>
                  </div>
                </div>-->
                <div class="row">
                  <div class="col s8 offset-s2  botones">
                    <a  id="id-google" class="btn-large  red darken-1"><i class="fa fa-google-plus" aria-hidden="true"></i>Login with Google+ </a>
                  </div>
                </div>
                <p id="error"></p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>


      <header>
        <img src="#" alt="" id="user-pic">
          <p>Hola<span id="user-name"></span></p>
          <p id="correo"></p>
          <div class=""></div>
      </header>

    <script src="../jquery/dist/jquery.min.js"></script>
    <script src="../materialize-css/dist/js/materialize.min.js"></script>
    <!-- <script src="../js/app.js"></script> -->
    <!-- este script es importante para la funcionalidad con firebase-->
    <script src="../firebase/firebase.js"></script>
    <script src="../js/login.js"></script>
  </body>
</html>
